# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env
*.env

# Logs
*.log

# OS files
.DS_Store

# Python packaging
*.egg-info/
dist/
build/

# IDE/editor
.vscode/
.idea/
